/node_modules
/public/hot
/public/storage
/public/.htaccess
/vendor
/storage
.env
.env.prod
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode


# Laravel 4 specific
/bootstrap/compiled.php
/app/storage/

# Laravel 5 & Lumen specific
.env.*.php
.env.php

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
