@charset "utf-8";
:root{
	scroll-behavior: smooth;
	--m10: 10px;
	--m20: 20px;
	--m40: 40px;
	--green: limegreen;
	--orange: #f39800;
	--black: #231815;
	--gray: #9fa0a0;
	--white: #fff;
	--header: 100px;
	--footer: 300px;
	--bgi: 300px;
	--pad-delay: .4s;
}
*{
	margin: 0;
	padding: 0;
	font-weight: normal;
	list-style-type: none;
	font-family: 'Kosugi Maru', sans-serif, serif;
	box-sizing: border-box;
	letter-spacing: 1px;
}
body{
	font-size: 100%;
	color: var(--black);
}
body::before, body::after {
    content: '';
    height: var(--header);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #fff8,#fff0);
    z-index: 4;
    backdrop-filter: blur(1px);
}
body::after{
	top: calc(100vh - 40px);
    height: 40px;
    background: linear-gradient(0deg, #0008 ,#0000);
}
a{
	text-decoration: none;
	position: relative;
	overflow: hidden;
}
a::before{
	content: "";
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: 0;
	left: -150%;
	transition: 1s;
}
a:hover::before{
	left: 0;
	background-color: var(--orange);
}
h2{
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	border-bottom: 2px solid var(--black);
	position: relative;
	letter-spacing: 3px;
	display: flex;
	justify-content: center;
	line-height: 55px;
	align-items: center;
	flex-wrap: nowrap;
}
h2 span {
    position: relative;
    font-weight: bold;
}
img{
	vertical-align: top;
	max-width: 100vw;
}
figure {
    height: 100%;
    position: relative;
}
/* リセットスタイルここまで */

/* clear-fixここから */
.clear-fix:after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
/* clear-fixここまで */

.site-wrap{
	display: grid;
	grid-template-columns: var(--m20) 1fr var(--m20);
	grid-template-rows: 
		[header] var(--header)
		[main] auto
		[footer] var(--footer);
	min-height: 100vh;
	width: 100%;
	position: relative;
}
.site-wrap > section{
	row-gap: var(--m20);
}
.site-wrap > * {
	grid-column: 2/-2;
}
header{
	grid-row: header;
	display: flex;
	justify-content: space-between;
	z-index: 4;
	align-items: center;
	position: sticky;
	top: 0;
}
.logo a{
	font-size: 3rem;
	line-height: 1;
	text-decoration: none;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo a::before {
    display: none;
}

/* hamburgerメニューここから */
/* チェック判定用 */
#menu-btn-check{
	display: none;
}
/* メニューボタン枠組み */
.menu-btn{
	position: relative;
	bottom: 0;
	right: 0;
	height: 50px;
	width: 50px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 90;
	cursor: pointer;
	transition: top .5s;
}
/* メニューボタン3本線 */
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
	content: '';
	display: block;
	height: 4px;
	width: 26px;
	border-radius: 3px;
	position: absolute;
	background-color: var(--white);
}
/* 中央 */
.menu-btn span{
	transition: .3s;
	transition-delay: .2s;
}
/* 上 */
.menu-btn span::before{
	bottom: 8px;
	transition: .2s;
}
/* 下 */
.menu-btn span::after{
	top: 8px;
	transition: .5s;
	transition-delay: .2s;
}

/* ハンバーガーメニュークリック時 */
#menu-btn-check:checked ~ .menu-btn{
	position: fixed;
    top: 25px;
    right: var(--m20);
}
#menu-btn-check:checked ~ .menu-btn span{
	background-color: rgba(255,255,255,0);
}
#menu-btn-check:checked ~ .menu-btn span::before{
	bottom: 0;
	transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after{
	top: 0;
	transform: rotate(315deg);
}
/* チェック時に表示 */
#menu-btn-check:checked ~ .overlay{
	visibility: visible;
	transition-delay: .5s;
}
/* メニュー以外触れないようにするレイヤー */
/* メニューリスト */
.overlay{
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	visibility: hidden;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* メニュー項目 */
.overlay li{
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	margin-bottom: 20px;
}
/* 背景テキスト */
.overlay li::before{
	content: attr(data-text);
	writing-mode: vertical-rl;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-60deg);
	font-size: 8rem;
	font-family: serif;
	line-height: 10rem;
	color: rgba(255, 255, 255, .1);
	font-weight: bold;
	visibility: hidden;
	z-index: -100;
	transition: letter-spacing .1s;
	text-align: center;
	letter-spacing: .5rem;
}
.overlay li:hover::before {
	visibility: visible;
	letter-spacing: .1rem;
}
.overlay a{
	text-align: center;
	display: block;
	padding: 5px 20px;
	color: var(--white);
}
.overlay li a:hover{
	text-decoration: none;
	color: var(--black);
	background-color: var(--gray);
}

/* homeページ */
.hero {
	grid-row: hero;
	grid-column: 1/-1;
	height: fit-content;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
	/* height: 100%; */
	max-height: calc(100vh - var(--header) - 70px);
}
.hero > img{
	height: auto;
	min-height: 447px;
	width: 100%;
	object-fit: cover;
	max-height: calc(100vh - var(--header) - 70px);
}
.hero .context{
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
	backdrop-filter: blur(1px);
	background-color: rgba(37,37,37,.4);
	box-shadow:
    inset 1px 1px 3px #fff,
    1px 1px 3px #000;
	padding-top: 1px;
	min-width: 240px;
}
.hero .context:hover{
    background-color: var(--orange);
}
.hero .context svg{
	width: 30px;
	height: auto;
	fill: var(--green);
}
.hero .context a{
	display: flex;
    justify-content: center;
    align-items: center;
	color: var(--orange);
	padding: 5px 40px;
	text-decoration: none;
}
.hero .context a::before{
	display: none;
}
.hero .context:hover a{
	color: var(--white);
}
.home > .logo-img {
    position: absolute;
    grid-row: hero;
    transform: none;
    justify-self: center;
    align-self: center;
}

.site-wrap.home {
	grid-template-rows: 
		[header] var(--header)
		[hero] auto
		[news] auto
		[our] auto
		[staff] auto
		[question] auto
		[footer] var(--footer);
}
.home > .news{
	display: block;
	grid-row: news;
	grid-column: 1/-1;
	height: 70px;
}
.home .news h2{
	display: none;
}
.news-list{
	padding-bottom: 0;
	height: 3rem;
	position: relative;
	font-size: 13px;
	max-width: 100vw;
	overflow: hidden;
}
.news-list > * {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0;
	transition: top 2s,opacity 1s;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 var(--m20);
}
.home .news time,.news-list a{
	color: var(--white);
}
.news a:hover{
	color: var(--orange);
}
.news .pre{
	top: 100%;
}
.home .news .active{
	visibility: visible;
	opacity: 1;
	top: 0;
}
.news .next{
	top: -100%;
}
.home .news p{
	font-size: 14px;
	text-align: right;
}
.home .news p a{
	margin-right: 10px;
	color: var(--white);
}
.home .news p a:hover{
	color: var(--orange);
}
.news p a::before {
    display: none;
}
.news p a::after,.beginers a::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 2px solid var(--white);
    box-sizing: border-box;
    transform: rotate(45deg) translate(-6px,4px);
    border-bottom: none;
    border-left: none;
    margin-right: 10px;
	transition: .1s;
	position: relative;
	left: 0;
}
.news p a:hover::after{
	border-color: var(--orange);
	left: 10px;
	animation: nextLink 1s infinite;
}
@keyframes nextLink{
	0%{
		left: 0px;
		opacity: 1;
	}
	100%{
		left: 10px;
		opacity: 0;
	}
}

.our{
	grid-row: our;
	display: grid;
	row-gap: var(--m10);
	column-gap: var(--m20);
}
.our h2, .our .context, #staff h2{
	grid-column: 1/-1;
}
.our h2{
	display: flex;
	letter-spacing: 0;
	flex-wrap: wrap;
}
.our h2::before {
    content: '';
    width: 40px;
    height: 64px;
    background-image: url(/img/silhouettes04.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    display: inline-block;
    margin-bottom: -6px;
    justify-self: flex-end;
    align-self: center;
}
.our .context {
    padding-bottom: 0;
}
.our .context p {
    text-align: center;
    line-height: 2.5rem;
    letter-spacing: 2px;
    text-shadow: 0 4px 10px #0001;
}
.our article{
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 4px 10px -2px #0003, inset 0px 4px 20px #fff1;
	transition: .5s;
	position: relative;
}
.our article a {
    display: flex;
}
.our h3{
	justify-self: center;
	align-self: center;
	text-align: center;
	flex: 40%;
	background: transparent;
	line-height: 3rem;
	font-size: clamp(18px,2.5vw,24px);
	z-index: 3;
}
.our figure{
    flex: 60%;
	overflow: hidden;
}
.our figure img{
	width: 100%;
	height: clamp(150px,20vw,200px);
	object-fit: cover;
	transition: .3s;
}
.our figure img:hover{
	transform: scale(1.1);
}
.our article:nth-of-type(1) img{
	object-position: 50% 75%;
}
/* スタッフ紹介 */
#staff{
	grid-row: staff;
	text-align: center;
	display: grid;
}
#staff h2::after {
    content: '';
    width: 70px;
    height: 70px;
    background-image: url(/img/silhouettes03.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    display: inline-block;
    margin-bottom: -7px;
    margin-left: -30px;
    justify-self: flex-end;
    align-self: center;
}
.staff-list {
	position: relative;
	display: flex;
	height: 90vh;
	width: 100%;
	flex-direction: column;
	border-radius: 10px;
	row-gap: var(--m10);
	align-items: center;
}
.staff-list-item{
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	cursor: pointer;
	transition: .3s;
	position: relative;
	filter: drop-shadow(0px 4px 4px  #0003);
}
.staff-list-item figure {
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    z-index: 1;
}
.staff-list-item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: blur(1px) grayscale(.5) brightness(.9) contrast(1.3);
	transition: .8s;
	vertical-align: top;
}
.staff-list-item:nth-child(1) img{
	object-position: center 40%;
}
.staff-list li:nth-of-type(2) img {
    object-position: center 55%;
}
.staff-list li:nth-of-type(3) img {
    object-position: center 45%;
}
.staff-list li:last-of-type img {
    object-position: center 25%;
}
.staff-list-item .context{
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	color: var(--white);
	text-shadow: 0 0 1px var(--white);
	text-align: left;
	line-height: 1.2;
	padding: 10px 15px;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s;
	transition-delay: .2s;
}
.staff-list-item:hover img{
	filter: none;
	transform: scale(1.1);
}
.staff-list-item.active .context{
	opacity: 1;
	visibility: visible;
}
.staff-list-item.active {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 100;
    flex: 1000%;
}
.staff-list-item.active img{
	filter: none;
}
.staff-list-item > ::before {
    content: attr(data-text);
    position: absolute;
    top: 10%;
    left: -3px;
    width: 30%;
    height: 2rem;
    color: white;
    line-height: 2rem;
    background: var(--orange);
    border-radius: .5rem 1rem 1rem 0;
    z-index: 2;
}
.staff-list-item::after,
.staff-list-item::before {
	content:"";
	position: absolute;
	top: 10%;
	left: 10px;
	width: 1rem;
	height: 3rem;
	background: var(--orange);
	border-radius: 1rem 0 0 1rem;
	z-index: -1;
}
.staff-list-item::after {
    top: calc(10% + 2rem);
    width: 5rem;
    height: 1rem;
    background: #9e9700;
}

/* questionここから */
.question{
	position: relative;
	display: grid;
	grid-row: question;
	gap: var(--m20) calc(var(--m20)/2);
}
.question h2 {
    padding-right: 40px;
}
.question h2::before {
    content: '';
    width: 100px;
    height: 50px;
    background-image: url(/img/silhouettes02.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    display: inline-block;
    margin-bottom: -28px;
    margin-right: -50px;
    justify-self: flex-end;
    align-self: center;
}
.accordions{
	display: grid;
	gap: var(--m10);
}
.accordion {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0px 4px 5px #0002;
	height: fit-content;
}
.accordion h3{
	line-height: 30px;
    padding: 2px 10px 2px 20px;
    font-size: 1rem;
    box-sizing: content-box;
}
.accordion p{
	padding: 0 10px;
	line-height: 0;
	opacity: 0;
	visibility: hidden;
	transition:
		line-height .3s ease-out,
		opacity     .1s linear,
		visibility  .1s linear;
	font-size: 15px;
}
.acd-btn-check{
	display: none;
}
/* +ボタン */
.acd-btn h3::before,
.acd-btn h3::after {
	content: '';
	display: block;
	height: 2px;
	width: 14px;
	border-radius: 1px;
	background-color: var(--black);
	position: absolute;
	top: 16px;
	right: 7px;
	transition: .5s;
}
.acd-btn h3::before{
	transform: rotate(90deg);
}
.acd-btn-check:checked ~ h3::before{
	transform: rotate(135deg);
}
.acd-btn-check:checked ~ h3::after {
	transform: rotate(45deg);
}
.acd-btn-check:checked ~ p{
	line-height: 1.4;
	opacity: 1;
	visibility: visible;
	padding: 10px;
	transition:
		line-height .3s ease-out,
		opacity     .1s linear .1s,
		visibility  .1s linear .1s,
		padding 	.1s linear;
}

/* footer */
.circle{
	content: '';
	width: 200px;
	height: 100px;
	border-radius: 50% / 0 0 100% 100%;
	text-align: center;
	position: absolute;
	bottom: -30px;
	left: -30px;
	z-index: 0;
	animation: swing 15s infinite ease-in-out;
}
.circle img{
	width: 30%;
	height: auto;
	position: absolute;
	left: -30px;
	top: -57px;
	animation: rolling 15s infinite ease-in-out;
	animation-delay: .2s;
}
@keyframes rolling{
	0%,100%{
		transform: translateX(0px) rotate(0);
	}
	
	50%{
		transform: translateX(200px) rotate(720deg);
	}
}
@keyframes swing{
	0%,100%{
		transform: rotate(30deg);
	}
	50%{
		transform:rotate(-30deg);
	}
}

/* footer */
.site-wrap footer {
	grid-row: footer;
	grid-column: 1/-1;
	font-size: 13px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	overflow: hidden;
}
footer::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--black);
    z-index: -2;
}
footer .logo-img {
    margin-bottom: -40px;
    transform: scale(.5);
}
footer .logo-text span:before {
    color: var(--green);
}
footer div{
	text-align: center;
}
footer h2{
	letter-spacing: .1rem;
	font-size: 1.2rem;
	color: var(--white);
	padding: 0;
	border: none;
	line-height: 1;
}
footer ul{
	margin-top: 10px;
	display: flex;
	justify-items: center;
	min-width: 200px;
}
footer li{
	flex: 33%;
}
.followUs{
	z-index: 4;
}
.follow{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	overflow: visible;
}
.follow::before {
    display: none;
}
.follow ion-icon{
	font-size: 24px;
	transition: transform .2s;
}
.follow span{
	color: transparent;
	transition: transform .2s;
	position: absolute;
}
.follow:hover{
	text-decoration: none;
	color: var(--orange);
}
.follow:hover ion-icon{
	transform: translateY(-10px);
	filter: drop-shadow(0px 0px 1px var(--white));
}
.follow:hover span{
	color: var(--white);
	transform: translateY(10px);
	text-shadow: 0px 0px 1px var(--orange);
}

/* 肉球メニュー */
.pad,
.pad *,
.pad:hover .setting-icon,
.pad:hover .setting-icon ion-icons{
	transition: 1s;
	transition-delay: var(--pad-delay);
}
.pad ul,
.pad li,
.pad a{
	display: flex;
	align-items: center;
	justify-content: center;
}
.pad a,
.pad ul,
.pad li {
    width: 100%;
    height: 100%;
}
.pad a{
	position: absolute;
	overflow: visible;
}
.pad a::before{
	display: none;
}
.pad{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
	cursor: pointer;
	z-index: 5;
}
.pad:hover{
	transform: rotate(-45deg);
}
.pad li {
    position: absolute;
    font-size: 1.5rem;
}
.pad:hover li{
	transition-delay: calc(var(--pad-delay) + .1s * var(--i));
	transform: rotate(calc(475deg - 45deg * var(--i)));
}
.pad li ion-icon {
	position: absolute;
	background: var(--orange);
	border-radius: 50%;
	padding: 5px;
}
.pad:hover li ion-icon {
	transition-delay: calc(var(--pad-delay) + .1s * var(--i));
	transform: translate(0px, -3rem) rotate(calc(45deg * var(--i) - 70deg));
}
.pad .setting-icon{
	border-radius: 50%;
	background-color: var(--orange);
	box-shadow: 
		0px 0px 1px 1px var(--orange),
		0px 0px 1px 1px var(--orange),
		0px 0px 1px 1px var(--orange);
	z-index: 1;
}
.pad:hover .setting-icon{
	box-shadow:
		 0px -10px 1px 1px var(--orange),
		10px   5px 1px 1px var(--orange),
	   -10px   5px 1px 1px var(--orange);
	transform: none;
}
.pad .setting-icon ion-icon{
	font-size: 2rem;
	transform: translate(0, 0) rotate(0deg);
}
.pad:hover .setting-icon ion-icon{
	transform: translate(0,0) rotate(45deg);
	color: var(--gray);
}
.copyright{
	z-index: 1;
	color: var(--white);
}

/* contactページ */
.contact {
    grid-template-rows: 
    [header] var(--header)
    [contact] auto
    [info] auto
    [map] auto
    [footer] var(--footer);
}
form{
	margin: 0 auto;
}
.form {
    grid-row: contact;
    background: #eee;
}
input,.form label {
    cursor: pointer;
}
input:not(input[type="submit"]),#select {
    height: 2.5rem;
}
#message {
    height: 10rem;
}
.form-group{
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: relative;
	padding: 1px;
}
.form-group label{
	position:relative;
	top: -1.8rem;
	left: 10px;
	color: var(--orange);
	transition: .5s;
	width: fit-content;
}
.form-group :first-child {
    width: 100%;
    padding: .5rem;
    resize: none;
    border: none;
    outline: none;
}
.form-control:focus ~ label,
.form-control:valid ~ label {
    transform: translateY(-2em);
}
.form-control:valid ~ label {
    font-weight:normal;
    color: var(--gray);
    cursor: default;
}
.form-group:nth-of-type(4) {
    margin-bottom: 0;
}
#message + label {
    top: -9.5rem;
}
input[type="submit"] {
    width: auto;
    font-size: 1rem;
    padding: 8px 30px;
}
.map {
    width: 100%;
    height: auto;
    overflow: scroll;
    grid-row: map;
}
iframe {
    width: 100%;
    height: 50vh;
}
.contact input:invalid ~ span{
	background-color: var(--orange);
	color: var(--white);
}

/* margin */
.mt40m{
	margin-top: calc(var(--m40) * -1);
}
.m10{
	margin: var(--m10);
}
.ml10{
	margin-left: var(--m10);
}
.mr10{
	margin-right: var(--m10);
}
.mt10{
	margin-top: var(--m10);
}
.mb10{
	margin-bottom: var(--m10);
}
.m20{
	margin: var(--m20);
}
.ml20{
	margin-left: var(--m20);
}
.mr20{
	margin-right: var(--m20);
}
.mt20{
	margin-top: var(--m20);
}
.mb20{
	margin-bottom: var(--m20);
}
.m40{
	margin: var(--m40);
}
.ml40{
	margin-left: var(--m40);
}
.mr40{
	margin-right: var(--m40);
}
.mt40{
	margin-top: var(--m40);
}
.mb40{
	margin-bottom: var(--m40);
}

/* padding */
.p10{
	padding: var(--m10);
}
.pl10{
	padding-left: var(--m10);
}
.pr10{
	padding-right: var(--m10);
}
.pt10{
	padding-top: var(--m10);
}
.pb10{
	padding-bottom: var(--m10);
}
.p20{
	padding: var(--m20);
}
.pl20{
	padding-left: var(--m20);
}
.pr20{
	padding-right: var(--m20);
}
.pt20{
	padding-top: var(--m20);
}
.pb20{
	padding-bottom: var(--m20);
}
.p40{
	padding: var(--m40);
}
.pl40{
	padding-left: var(--m40);
}
.pr40{
	padding-right: var(--m40);
}
.pt40{
	padding-top: var(--m40);
}
.pb40{
	padding-bottom: var(--m40);
}

/* gap */
.rg10{
	row-gap: var(--m10);
}
.rg20{
	row-gap: var(--m20);
}
.rg40{
	row-gap: var(--m40);
}
.cg10{
	column-gap: var(--m10);
}
.cg20{
	column-gap: var(--m20);
}
.cg40{
	column-gap: var(--m40);
}

/* background-color */
.bg-white{
	background-color: #fff;
}
.bg-gray{
	background-color: var(--gray);
	grid-column: 1/-1;
}
.bg-black{
	background-color: var(--black);
	color: var(--white);
	grid-column: 1/-1;
}
.bg-black h2 {
    border-color: var(--white);
}
.bg-orange{
	background-color: var(--orange);
	color: var(--white);
}
.bg-green{
	background-color: var(--green);
}
.bgi{
	display: none;
	grid-column: 1/-1;
	z-index: 2;
}
.bgi1{
	grid-row: bgi-1;
	background: url(../img/cat07.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center top;
}
.bgi2{
	grid-row: bgi-2;
	background: url(../img/cat09.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}
.bgi3{
	grid-row: bgi-3;
	background: url(../img/cat08.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

/* beginerページ */
.beginers{
	grid-row: main;
	display: flex;
	flex-direction: column;
}
.beginers h2 {
    grid-column: 1/-1;
    letter-spacing: 1px;
}
.beginers h2::before {
    width: 2.2rem;
    height: 2.2rem;
    transform: translate(0, 4px);
}
.beginers ol li {
    list-style-type: decimal;
    margin-left: 2rem;
}
.beginers > :last-child{
	text-align: right;
	grid-column: -2/-1;
}
.beginers a{
	display: inline-block;
	font-size: 1rem;
	padding-left: .7rem;
}
.beginers a::after{
	border-color: var(--black);
    width: .5rem;
    height: .5rem;
    position: absolute;
    top: .3rem;
    left: .3rem;
	transition: .3s;
}
.beginers a:hover::after{
	animation: nextLink 1s infinite;
}
.step {
    object-fit: cover;
    background-blend-mode: screen;
    max-width: 1000px;
    height: max(100vh ,100%);
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.step h3 {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.step h3 span {
	border-radius: 30px;
	border: 1px solid #000;
	padding: 2px 25px;
	font-weight: bold;
}
.step .context {
    background-color: #eee8;
    line-height: 1.3;
}
.step:nth-of-type(1) {
    background: url(../img/cat05.jpg),linear-gradient(330deg, #888, #aaa);
    background-size: cover;
    background-repeat: no-repeat,no-repeat;
    background-position: center top;
}
.step:nth-of-type(2) {
    background: url(../img/cat11.jpg),linear-gradient(330deg, #888, #aaa);
    background-size: cover;
    background-repeat: no-repeat,no-repeat;
    background-position: center;
}
.step:nth-of-type(3) {
    background: url(../img/cats01.jpg),linear-gradient(330deg, #8888, #aaa8);
    background-size: cover;
    background-repeat: no-repeat,no-repeat;
    background-position: center top,center;
    margin-bottom: 0;
}

/* aboutページ */
.site-wrap.about{
	grid-template-rows:
	[header] var(--header)
	[concept] auto
	[price] auto
	[event] auto
	[caution] auto
	[info] auto
	[map]auto
	[footer] var(--footer);
}
.about section{
    text-align: center;
}
.concept{
	background-image: url(../img/cat08.jpg);
	background-size: cover;
	background-position: center 70%;
	background-attachment: fixed;
	grid-column: 1/-1;
	grid-row: concept;
}
.bg-concept{
	backdrop-filter: brightness(1.5) contrast(.2);
}
.concept p{
	color: var(--white);
	line-height: 4rem;
	letter-spacing: .2rem;
	font-size: 1.1rem;
}
.bg-concept :last-child{
	margin-bottom: 100px;
} 

/* newsページ */
.about h2 {
    letter-spacing: 5px;
    flex-direction: row;
}
.main {
    grid-row: main;
    height: 100%;
}
.news .main .header {
    display: flex;
    flex-direction: column;
}
.news .main .header h2 {
    display: block;
    letter-spacing: 1px;
    font-size: 1.5rem;
}
.news .main .header .date {
    align-self: flex-end;
    color: var(--gray);
}
.news .main p {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 2px;
}
.news .main .context h3 {
    border-left: 5px solid var(--gray);
    font-size: 1.2rem;
    padding: 0 10px;
    font-weight: 600;
}

/* システム */
#price{
	grid-row: price;
	text-align: center;
	display: grid;
	row-gap: calc(var(--m20) *1);
}
.ion-icons :first-child {
    font-size: 3rem;
}
.ion-icons :nth-child(2) {
	position: absolute;
	right: 0px;
	top: 26px;
	font-size: .8rem;
	background: var(--white);
	border: 1px solid var(--black);
	border-radius: 50%;
	padding: 2px;
	box-shadow: 0 0 1px 1px var(--white);
}
.ion-icons ion-icon[name="paw-outline"] {
    font-size: 1rem;
    right: -7px;
}
#price caption {
    line-height: 2;
    font-size: 1.2rem;
}
#price caption,
#price table{
	margin-right: auto;
	margin-left: auto;
}
#price th{
	width: 200px;
}
#price div p {
    line-height: 2;
    font-size: .8rem;
}
#price div p::before {
    content: '※';
    display: inline-block;
}
tr > * {
    padding: calc(var(--m20)/2);
}
.caution {
    grid-row: caution;
}
.caution h2 {
    display: flex;
    justify-content: center;
}
.caution ul, .about dl{
	width: fit-content;
	margin: 0 auto;
}
.caution li {
    text-align: left;
    list-style: disc;
    line-height: 2rem;
}
.caution li:last-child {
    margin-bottom: 0;
}
.event {
    grid-row: event;
}
.event dl{
	text-align: left;
}
.event dt{
	font-weight: bold;
}
.event dd{
	line-height: 2rem;
}
.event h2 span, #price h2 span {
    line-height: 1;
}

/* logoアニメーション */
.logo-img{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	transform: scale(.5) translate(20px, 20px);
	filter: drop-shadow(0px 0px 5px var(--white));
}
.logo-img img{
	width: 100px;
	height: auto;
}
.logo-text{
	justify-self: center;
	align-self: center;
	display: flex;
	animation: rotate 20s linear infinite;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 43%;
}
.logo-text span{
	position: absolute;
	transform: rotate(calc(-360deg * var(--i) / 14))  translate(90px);
	color: transparent;
	font-size: 1.5rem;
}
.logo-text span:before {
	content: attr(data-text);
    color: var(--black);
    position: absolute;
    text-transform: uppercase;
    line-height: 1;
    animation: rotate2 20s linear infinite;
}
@keyframes rotate {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes rotate2 {
	0%{
		transform: rotate(calc(360deg * var(--i) / 14 ));
	}
	100%{
		transform: rotate(calc(360deg * var(--i) / 14 - 360deg));
	}
}

/* 店舗情報 */
.shop-info {
	grid-row: info;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.shop-info h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: row;
}
.shop-info li {
    line-height: 2rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    justify-content: flex-start;
}
.shop-info li ion-icon {
	margin-right: 20px;
}

/* pc版 */
@media (min-width: 1023px) {
	.site-wrap{
		grid-template-columns: .2fr repeat(6,1fr) .2fr;
		column-gap: var(--m20);
	}
	.site-wrap.home{
		grid-template-rows:
		[header] var(--header)
		[hero] auto
		[news] auto
		[bgi-1] calc(var(--bgi) *2/3)
		[our] auto
		[bgi-2] var(--bgi)
		[staff] auto
		[bgi-3] var(--bgi)
		[question] auto
		[footer] var(--footer);
	}
	.bgi{
		display: block
	}
	.menu-btn{
		display: none;
	}
	.overlay{
		visibility: visible;
		position: relative;
		flex-direction: row;
		background-color: transparent;
	}
	.overlay{

		left: 10px
	}
	.overlay li{
		font-size: 1rem;
		margin-bottom: 0;
		border-right: 1px solid #000;
		box-sizing: border-box;
	}
	.overlay li:last-child{
		border-right-style: none;
	}
	.overlay li::before{
		display: none
	}
	.overlay li.active {
	    background: #eee;
	}
	.overlay a{
		color: var(--black);
	}
	h2{
		font-size: 2.2rem;
	}
	.our > *:not(h2) {
		grid-column: auto;
	}
	.our {
	    grid-template-columns: repeat(4,1fr);
	    margin-bottom: -88px;
	}
	.our h2{
		gap: 30px;
		padding-right: 75px;
	}
	.our .context p {
		font-size: 1.2rem;
		line-height: 4rem;
	}
	.our article{
		margin: 0;
	}
	.our article a{
		display: flex;
		flex-direction: column;
	}
	.our article a figure{
		flex: 75%;
	}
	.our h3{
		justify-self: auto;
		align-self: auto;
		font-size: 1.3rem;
		font-weight: bold;
		box-shadow: 0px 10px 10px 4px #000, inset 0px 1px 20px #fff4;
	}
	.our article img{
		height: 200px;
	}
	.our article:nth-of-type(1) img{
		object-position: 50% 70%;
	}
	.our article:nth-of-type(4) img{
		object-position: 50% 20%;
	}
	.news li{
		justify-content: space-evenly;
	}
	#staff h2{
		padding-left: 70px;
	}
	#staff h2::after{
		margin-left: 0;
	}
	.staff-list{
		justify-self: center;
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: 1fr 1fr;
		flex-direction: row;
		gap: var(--m20);
		max-width: 1000px;
	}
	.staff-list-item:nth-child(odd){
		grid-column: 1/ 2;
	}
	.staff-list-item:nth-child(even){
		grid-column: 2/ -1;
	}
	.staff-list-item:nth-child(-n+2){
		grid-row: 1/ 2;
	}
	.staff-list-item:nth-child(n+3){
		grid-row: 2/ -1;
	}
	.staff-list-item{
		height: 100%;
		padding-right: 0;
	}
	.staff-list-item.active{
		grid-column: 1/-1;
		grid-row: 1/-1;
	}
	.staff-list-item:hover img{
		filter: none;
		transform: scale(1.1);
	}
	.question h2{
		padding-right: 100px;
	}
	.question h2::before{
		margin-right: 0;
	}
	.accordions{
		grid-template-columns: repeat(3,1fr);
	}


	/* aboutページ */
	.about h2{
		height: 150px;
		padding: 0;
	}
	.about footer h2{
		height: auto;
	}
	.site-wrap.about{
		grid-template-rows: 
			[header] var(--header)
			[concept] auto
			[price  event caution] auto
			[info map] auto
			[footer] var(--footer);
		column-gap: var(--m40);
	}
	#price{
		grid-column: 2/4;
		margin: -40px -20px 0;
		padding: 40px 20px 0;
	}
	.event{
		grid-column: 4/6;
		margin: -40px -20px 0;
		padding: 40px 20px 0;
	}
	.caution{
		grid-column: -4/-2;
		margin: -40px -80px 0 -20px;
		padding: 40px 80px 0px 20px;
	}
	.about .shop-info{
		grid-column: 2/4;
		background: #888;
		z-index: 1;
		justify-self: center;
		align-self: center;
		transform: translateX(50px);
		padding: 10px;
		padding-bottom: 0;
	}
	.about .shop-info h2{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.about .map{
		grid-column: 4/-2;
		transform: translateX(-50px);
	}
	.concept p{
		font-size: 1.4rem;
		line-height: 5rem;
		margin: 40px;
	}
	/* beginerページ */

	.beginers{
		display: grid;
	    grid-template-columns: repeat(3,1fr);
	}
	.step{
		display: grid;
		grid-template-rows: .6fr 1fr;
	}
	.beginers h2::before {
	    background-image: url(../img/beginer.png);
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position-y: center;
	    content: '';
	    width: 1.5rem;
	    height: 1.6rem;
	    display: inline-block;
	    transform: translate(0px, 2px);
	}


	/* contactページ */
	.contact{
		grid-template-columns: .2fr repeat(3,1fr) .2fr;
		grid-template-areas:
			"ml h h h mr"
			"ml c c i mr"
			"ml c c m mr"
			"ml f f f mr";
		grid-template-rows: 
		[header] var(--header) [contact info] auto [contact map] auto [footer] var(--footer);
	}
	.contact .form{
		grid-area: c;
		/* align-self: center; */
		padding: 0 40px;
		background: #eee;
		margin-top: 0;
	}
	.contact .shop-info{
		grid-area: i;
		background-color: var(--gray);
		padding: 20px;
	}
	.contact .shop-info h2{
		font-size: 1.5rem;
	}
	.contact .map{
		grid-area: m;
		height: 290px;
	}
	.form form {
	    padding: 40px;
	}
	.form-group{
		margin: 30px 0;
	}
	.form-group:nth-of-type(1) {
	    float: left;
	    margin-right: 10%;
	    width: 45%;
	}
	.form-group:nth-of-type(2) {
	    /* float: left; */
	    width: 45%;
	}
	.form-group:nth-of-type(3) {
	    clear: both;
	}
	/* darkモード */
	.dark .overlay li.active {
		background: #444;
	}
}

/* darkモード */
.dark{
	--white: #fffefc;
	--orange: #C49958;
	background-color: #252525;
	color:var(--white);
}
.dark::before{
	background: linear-gradient(180deg, #0008,#0000);
}
 .dark .bg-white{
	background-color: #252525;
}
.dark .bg-black{
	background-color: var(--black);
	color: var(--white);
}
.dark .logo a,
.dark .our h3,
.dark .follow,
.dark #price a,
.dark .beginers > :last-child a {
	color:var(--green);
}
.dark .overlay a{
	color:var(--white);
} 
.dark .our article{
	box-shadow: 0px 4px 10px -2px #fff8, inset 0px 4px 20px #0001;
}
.dark .step{
	background-blend-mode: color-burn;
}
.dark .step .context{
	background: #4448;
}
.dark .beginers > :last-child a::after {
	border-color: var(--green);
}
.dark .form{
	background-color: var(--black);
}
.dark .ion-icons :nth-child(2){
	color:#252525
}
.dark #price h2{
    border-color: var(--white);
}